**1. Installl and Import the necessary libraries**

In [1]:
!pip install pandas geopandas matplotlib

Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: geopandas in /usr/local/lib/python3.12/dist-packages (1.1.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.12/dist-packages (3.10.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.3)
Requirement already satisfied: pyogrio>=0.7.2 in /usr/local/lib/python3.12/dist-packages (from geopandas) (0.12.1)
Requirement already satisfied: packaging in /usr/local/lib/python3.12/dist-packages (from geopandas) (26.0)
Requirement already satisfied: pyproj>=3.5.0 in /usr/local/lib/python3.12/dist-packages (from geopandas) (3.7.2)
Requirement already satisfied: shapely>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from geopandas) (2.1.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (1.4.9)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (11.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.12/dist-packages (from matplotlib) (3.3.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.12/dist-packages (from pyogrio>=0.7.2->geopandas) (2026.1.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

**2. Creating GeoDataFrames**

In [3]:
data = {
    "city": ["Tokyo", "New York", "London", "Paris"],
    "latitude": [35.6764, 40.7128, 51.5072, 48.8575],
    "longitude": [139.6500, 74.0060, 0.1276, 2.3514]
}

In [4]:
#Create a panda DataFrame
df = pd.DataFrame(data=data)

In [5]:
#Convert to GeoDataFrame
gdf = gpd.GeoDataFrame(data=df,
                       geometry=gpd.points_from_xy(df.longitude,
                                                   df.latitude))

In [6]:
#Display geo data
gdf

       city  latitude  longitude                geometry
0     Tokyo   35.6764   139.6500  POINT (139.65 35.6764)
1  New York   40.7128    74.0060  POINT (74.006 40.7128)
2    London   51.5072     0.1276  POINT (0.1276 51.5072)
3     Paris   48.8575     2.3514  POINT (2.3514 48.8575)

**3. Reading and Writing Geospatial Data**

In [7]:
#Reading collision geojson in philadelphia
geojson_file = "collision_crash_2019_2023.geojson"
gdf = gpd.read_file(geojson_file)

In [8]:
#Display geo data
gdf.head()

,objectid,crn,arrival_tm,automobile_count,belted_death_count,belted_susp_serious_inj_count,bicycle_count,bicycle_death_count,bicycle_susp_serious_inj_count,bus_count,...,unsignalized_int,urban,vehicle_failure,vehicle_towed,vulnerable_road_user,vulnerable_road_user_fatal,wet_road,work_zone,young_driver,geometry
0,1,2019033373,1329,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,POINT (-75.2674 39.96621)
1,2,2019074654,1616,2,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,POINT (-75.2783 39.97601)
2,3,2020007295,1700,4,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.2477 39.96281)
3,4,2020066105,1742,1,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,1,POINT (-75.2776 39.97631)
4,5,2020067671,1712,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.2792 39.97551)

In [9]:
#Querying belted_death
belted_death = gdf.query('belted_death_count > 0')
belted_death

,objectid,crn,arrival_tm,automobile_count,belted_death_count,belted_susp_serious_inj_count,bicycle_count,bicycle_death_count,bicycle_susp_serious_inj_count,bus_count,...,unsignalized_int,urban,vehicle_failure,vehicle_towed,vulnerable_road_user,vulnerable_road_user_fatal,wet_road,work_zone,young_driver,geometry
1925,1926,2019067417,2010,1,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,1,POINT (-75.123 40.01351)
5937,5938,2019118406,0401,2,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.0319 40.05691)
10276,10277,2021002258,1002,1,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.1907 40.00401)
12834,12835,2020058203,0740,1,1,0,0,0,0,0,...,0,1,1,1,0,0,0,0,0,POINT (-75.0796 40.03281)
12900,12901,2020046465,2055,2,1,0,0,0,0,0,...,0,1,1,0,0,0,0,0,1,POINT (-75.0537 40.06431)
14733,14734,2020108563,0130,1,2,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.0872 40.03011)
16978,16979,2020110401,1434,2,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,POINT (-75.1621 39.99731)
19712,19713,2021124546,1602,1,1,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,POINT (-75.1569 40.06921)
26271,26272,2023023190,1655,1,1,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,POINT (-75.0864 40.01661)
27482,27483,2022112396,1010,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.0457 40.07521)
31846,31847,2022066146,2256,1,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.194 40.05171)
31962,31963,2022070258,1635,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.077 40.05741)
32136,32137,2022070217,1350,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.2378 39.93311)
32149,32150,2022070188,1242,1,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,POINT (-75.2403 40.06841)
32327,32328,2022057039,0857,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.1451 40.03691)
32814,32815,2024011014,1820,1,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,POINT (-75.1194 40.04451)
33221,33222,2023083061,1818,1,1,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.1372 39.96021)
33429,33430,2023094866,1309,1,1,0,0,0,0,0,...,0,1,0,1,0,0,1,0,0,POINT (-75.195 39.99661)
33905,33906,2023079731,1742,0,1,1,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.1135 39.99641)
35192,35193,2023021745,2210,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.2178 39.99391)
35995,35996,2023114033,1235,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.1558 40.03331)
36496,36497,2023031491,0320,0,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.0709 40.03511)
36747,36748,2023036605,0105,1,1,2,0,0,0,0,...,1,1,0,1,0,0,1,0,1,POINT (-75.2469 39.91871)
37593,37594,2023071113,0319,1,2,0,0,0,0,0,...,0,1,0,1,0,0,0,1,0,POINT (-75.19 39.90751)
37869,37870,2023058791,2213,1,1,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (-75.1902 40.02891)

In [10]:
import os

#Write output file
belted_death_file = 'belted_death_file.geojson'

# Check if the file exists and remove it to ensure a clean write
if os.path.exists(belted_death_file):
    os.remove(belted_death_file)

belted_death.to_file(filename=belted_death_file,
                     driver='GeoJson')

In [11]:
#Write shapefile
output_file = 'belted_death_file.shp'
belted_death.to_file(filename=belted_death_file)

In [ ]:
#Write GeoPackage
output_file = 'belted_death_file.gpkg'
belted_death.to_file(filename=belted_death_file,
                     driver='GPKG')

**4. Projections and Coordinate Reference Systems(CRS)**

In [14]:
#Get current coordinate reference systems
gdf.crs

<Geographic 2D CRS: EPSG:4326>
Name: WGS 84
Axis Info [ellipsoidal]:
- Lat[north]: Geodetic latitude (degree)
- Lon[east]: Geodetic longitude (degree)
Area of Use:
- name: World.
- bounds: (-180.0, -90.0, 180.0, 90.0)
Datum: World Geodetic System 1984 ensemble
- Ellipsoid: WGS 84
- Prime Meridian: Greenwich

In [15]:
#Change to NAD83 CRS
gdf_26910 = gdf.to_crs(epsg=26910)
gdf_26910.head()

,objectid,crn,arrival_tm,automobile_count,belted_death_count,belted_susp_serious_inj_count,bicycle_count,bicycle_death_count,bicycle_susp_serious_inj_count,bus_count,...,unsignalized_int,urban,vehicle_failure,vehicle_towed,vulnerable_road_user,vulnerable_road_user_fatal,wet_road,work_zone,young_driver,geometry
0,1,2019033373,1329,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,1,POINT (4607555.9 5682830.232)
1,2,2019074654,1616,2,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,POINT (4605869.994 5683255.148)
2,3,2020007295,1700,4,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (4609488.507 5683637.354)
3,4,2020066105,1742,1,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,1,POINT (4605905.874 5683330.09)
4,5,2020067671,1712,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,POINT (4605832.761 5683146.222)